.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstText {
  color: #333;
  font-size: 30px;
}

.text {
  color: #333;
  font-size: 20px;
}
