.text {
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.questionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questiontext {
  color: #333;
  font-size: 16px;
}

.questionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionInput {
  border: 1px solid #333;
  padding: 6px;
  border-radius: 8px;
  width: 350px;
  margin-bottom: 20px;
}

.questionInput:focus {
  outline: none;
}

.questionButton {
  background: transparent;
  border: none;
  background: black;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s all linear;
}

.questionButton:hover {
  border: 1px solid black;
  color: black;
  background: #fff;
}
