.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p {
  color: #333;
  font-size: 20px;
}

.h {
  color: #333;
  font-size: 50px;
}

.a {
  color: red;
  transition: 2s all ease-out;
}

.a:hover {
  color: #333;
}
