.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 2000px;
  width: 100%;
}

.userWrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid #333;
  max-width: 2000px;
  width: 100%;
  padding: 10px 150px;
}

.heading {
  color: #333;
}

.name {
  color: #333;
}

.score {
  color: #333;
}

.text {
  margin-top: 12px;
  color: #333;
  font-size: 20px;
}
